<h1>Task Force for Global Health</h1>

<div id="map-canvas" style="width: 50%; height: 50%"></div>

<!-- Geocoding is a time and resource intensive task. Whenever possible, pre-geocode known addresses (using the Geocoding API described here or another geocoding service), and store your results in a temporary cache of your own design. -->



<div><%= @status["error_message"] %>
</div>
